body{
    background-color: #cce4ea;
    margin: 0;
}

h3{text-align: center;}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.add-section{ 
    text-align: center;
    margin: 10px; 
    padding: 5px;
   
}

.add-section > input, button, select{
    border-radius: 5px;
    border: 1px solid grey;
}

select option{
    text-align: center;

}

#add-new-task{
    background-image: linear-gradient(144deg,#eeeeee, #c6bbe3 50%,#bf84e9);
}

#add-new-task:hover{
    background-image: linear-gradient(144deg,#f4dcdc, #ab97dd 50%,#b674e4);
}
ion-icon:hover{cursor: pointer; transform: scale(1.03);}


#new-task{
    height: 30px;
    width: 30%;
    margin: 0 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: 0;
    background-color: #ffffff99;
}

#deadline-date{
    height: 30px;
    width: 10%;
    background-color: #ffffff99;
}

select{
    height: 30px;
    width: 10%;
    background-color: #ffffff99;

}

.add-section button{
    height: 30px;
    width: 10%;
    cursor: pointer;

}

.task-container{
    flex: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task{
    margin: 10px;
    text-align: center;
    max-width: 20vw;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.task .task-head{
    display:flex;
    flex-direction: column;
    
}

.task .task-head ion-icon{ font-size: 30px;}

.high{background-color: rgba(255, 0, 0, 0.253);}

.medium{ background-color: rgba(255, 238, 0, 0.397);}

.low{background-color: rgba(0, 128, 0, 0.339);}

.buttons button{
    font-size:15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.buttons .delete-task{
    background-color: rgba(255, 0, 0, 0.404);
}

.buttons .delete-task:hover{
    transform: scale(1.03);
    background-color: rgba(255, 0, 0, 0.723);
}

.buttons .solved-task{
    background-color: rgba(0, 255, 38, 0.404);
}

.buttons .solved-task:hover{
    transform: scale(1.03);
    background-color: rgba(0, 255, 38, 0.723);
}